.fso-player audio{
	background-color: gainsboro;
	width: 100%;
}

.fso-player-playlist .selected{
	color: white !important;
	background: blue !important;
	margin-right: 5px;
}

.fsoplayer-icon-audio{
	background-image: url('img/audio.svg');
}

.fsoplayer-icon-video{
	background-image: url('img/video.svg');
}