.fsoexplorer-list{
	padding: 5px;
}

/* Items in file explorer area */
.fsoexplorer-list li{
	list-style-type: none;
	position: relative;
	margin-right: 10px;
	padding: 5px;
	border-radius:5px;
	width: 99%;
	overflow:hidden;
	display: flex;
    flex-direction: row;
}

.fsoexplorer-list li:hover{
	background-color: #C7EFFC;
}

/* Name of files, folders, etc */
.fsoexplorer-label{
	vertical-align: middle;
	word-wrap: break-word;
	margin: 5px;
	flex: 1;
	overflow: hidden;
}

/* Icons in file explorer area */
.fsoexplorer-icon{
	display: inline-block;
	background-repeat: no-repeat;
	height:48px;
	width:48px;
	background-size: 100% 100%;
}

/* Folder icons */
.folder{
	background-image: url('icons/folder.svg');
}

/* Icons by filetypes */
.avi, .mp4, .mpg, .divx, .xvid, .mkv, .mov, .ogv, .webm{
	background-image: url('icons/mov.svg');

}

.mp3, .flac, .wav, .pcm, .aac, .ogg{
	background-image: url('icons/mp3.svg');
}

.txt, .doc, .docx, .odt{
	background-image: url('icons/doc.svg');
}

.epub{
	background-image: url('icons/epub.svg');
}

.ini, .url{
	background-image: url('icons/ini.svg');
}

.jpeg, .jpg, .gif, .svg, .png{
	background-image: url('icons/jpg.svg');
}

/* Item actions for each file */
.fsoexplorer-toolbar{
	display: block;
	min-width: 32px;
}

div.fsoexplorer-toolbar{
	left:0px;
	top: 0px;
	width: 100%;
	padding: 5px;
	background-color: gainsboro;
	box-shadow: 0px 5px 2px darkgrey;
}

.fsoexplorer-toolbar .fsoexplorer-icon{
	width: 32px;
	height: 32px;
}

.fsoexplorer-del{
	background-image: url('toolbar/delete.svg');
}

.fsoexplorer-toolbar h1{
	font-size: large;
}
