/* Folder icons */
.folder{
	background-image:url('icons/folder.svg');
}

/* Icons by filetypes */
.file{
	background-image:url('icons/file.svg');
}

.avi, .mp4, .mpg, .divx, .xvid, .mkv, .mov, .ogv, .webm{
	background-image: url('icons/mov.svg')!important;

}

.mp3, .flac, .wav, .pcm, .aac, .ogg{
	background-image: url('icons/mp3.svg')!important;
}

.txt, .doc, .docx, .odt{
	background-image: url('icons/doc.svg')!important;
}

.epub{
	background-image: url('icons/epub.svg')!important;
}

.ini, .url{
	background-image: url('icons/ini.svg')!important;
}

.jpeg, .jpg, .gif, .svg, .png{
	background-image: url('icons/jpg.svg')!important;
}

.fsoexplorer-del{
	background-image: url('toolbar/delete.svg');
}

.fsoexplorer-folder-add{
	background-image: url('toolbar/folder-add.svg');
}

.fsoexplorer-home {
	background-image: url('toolbar/home.svg');
}

.fsoexplorer-config {
	background-image: url('toolbar/config.svg');
}
