.fsoexplorer-list > li{
	display: flex;
}

.fsoexplorer-tools{
	display: table-cell;
	vertical-align: middle;
	flex-shrink: 0;
}

.fsoexplorer-name{
	display: table-cell;
	word-wrap:break-word;
	vertical-align: middle;
	flex-grow: 1;
	margin: auto 10px;
}

/* Icons in file explorer area */
.fsoexplorer-icon{
	display: table-cell;
	background-repeat: no-repeat;
	height:48px!important;
	width:48px!important;
	background-size: 100% 100%;
}

/* Folder icons */
.folder{
	background-image:url('icons/folder.svg');
}

/* Icons by filetypes */
.file{
	background-image:url('icons/file.svg');
}

.avi, .mp4, .mpg, .divx, .xvid, .mkv, .mov, .ogv, .webm{
	background-image: url('icons/mov.svg')!important;

}

.mp3, .flac, .wav, .pcm, .aac, .ogg{
	background-image: url('icons/mp3.svg')!important;
}

.txt, .doc, .docx, .odt{
	background-image: url('icons/doc.svg')!important;
}

.epub{
	background-image: url('icons/epub.svg')!important;
}

.ini, .url{
	background-image: url('icons/ini.svg')!important;
}

.jpeg, .jpg, .gif, .svg, .png{
	background-image: url('icons/jpg.svg')!important;
}

.fsoexplorer-del{
	background-image: url('toolbar/delete.svg');
}

.fsoexplorer-folder-add{
	background-image: url('toolbar/folder-add.svg');
}

.fsoexplorer-home {
	background-image: url('toolbar/home.svg');
}
