.fso-selected{
	color: blue;
}

.fsoexplorer-list{
	padding: 5px;
}

.fsoexplorer-list li{
	list-style-type: none;
	position: relative;
	margin-right: 10px;
	padding: 5px;
	border-radius:5px;	
	height:58px;
	width: 100%;
	overflow:hidden;
	display: flex;
    flex-direction: row;
}

.fsoexplorer-list li:hover{
	background-color: #C7EFFC;
}

.fsoexplorer-label{
	vertical-align: middle;
	word-wrap: break-word;
	margin: 5px;
	flex: 1;
	overflow: hidden;
	/*
	left: 50px;
	right: 50px;
	height:48px;
	display: inline-block;	
	
	vertical-align: top;*/
}

.fsoexplorer-icon{
	display: block;
	background-repeat: no-repeat;
	height:48px;
	min-width:48px;
	background-size: 100%;
}

.fsoexplorer-toolbar{	
	display: block;
	min-width: 32px;
}

.fsoexplorer-toolbar-icon{
	display:inline-block;
	background-repeat: no-repeat;
	margin-left: 8px;
	width: 32px;
	height: 32px;
	/*float: right;*/
	background-size: 100% 100%;
}

.fsoexplorer-dir .fsoexplorer-icon{
	background-image: url('../img/icons/folder.svg');
}



.fsoexplorer-del{
	background-image: url('../img/toolbar/delete.svg');
}

.fsoexplorer-selector{
	display:inline-block;
	background-image: url('../img/toolbar/add.svg');
	background-repeat: no-repeat;
	margin-left: 16px;
	width: 32px;
	height: 32px;
	background-size: 100%;

}

.fso-selected .fsoexplorer-selector{
	background-image: url('../img/toolbar/sub.svg');
}

.avi, .mp4, .mpg, .divx, .xvid, .mkv, .mov, .ogv, .webm{
	background-image: url('../img/icons/mov.svg');

}

.mp3, .flac, .wav, .pcm, .aac, .ogg{
	background-image: url('../img/icons/mp3.svg');
}

.txt, .doc, .docx, .odt{
	background-image: url('../img/icons/doc.svg');
}

.epub{
	background-image: url('../img/icons/epub.svg');
}

.ini, .url{
	background-image: url('../img/icons/ini.svg');
}

.jpeg, .jpg, .gif, .svg, .png{
	background-image: url('../img/icons/jpg.svg');
}
